# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python / FastAPI
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3
*.log

# Editor / VS Code
.vscode/
*.code-workspace

# Node / React frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

memo.txt
roadmap.txt
