# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python / FastAPI
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3
*.log

backend/memo.txt
backend/uploads/

# Editor / VS Code
.vscode/
*.code-workspace

# Node / React frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development
frontend/.env.test.local
frontend/.env.production
frontend/memo.txt

.env
memo.txt
roadmap.txt
