# Backend
DATABASE_URL=postgresql://username:password@localhost:5432/audio_transcriber

# frontend origins for CORS
FRONTEND_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# JWT Settings
SECRET_KEY=your_jwt_secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# DeepGram API
DEEPGRAM_API_KEY=your_deepgram_api_key

# Audio File Limits
MAX_FILES_PER_USER=20
MAX_FILE_SIZE=5242880 # 5 MB in bytes

# Demo user email
DEMO_EMAIL=demo@audio.com

# Admin user credentials
ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=admin_password
